@import url('https://fonts.googleapis.com/css2?family=Rubik+Moonrocks&display=swap');
body
{
    margin: 0;
    padding: 0;
    background: linear-gradient(100deg,rgba(255, 255, 255, 0.781) 50%,rgba(165, 15, 152, 0.74) 50%);
    background-size: cover;
}
.container-fluid
{
    
}
.titleProduit
{
    margin-top: 200px;
}

.logo
{
    font-family: 'Rubik Moonrocks', cursive;
    font-size: 50px;
  
}
nav
{
    position: sticky;
    top: 0;
    
}
ul
{
    position: relative;
    left: 150px;
}
.formR
{
    position: relative;
    right: 100px;
}
.pagneticone
{
    position: relative;
    right: 20px;
    color: rgba(0, 100, 0, 0.678);
}
header
{
    background: url("images/ecommerce-2140603_1920.jpg")no-repeat;
    background-size: cover;
    height: 400px;
}
.paragrapheHeader
{
    margin-top: 100px;
}
/******************************section listeProduit*****************************************/
.colonneList
{
    margin-left: 50px;
    display: flex;
}
.card
{
    display: flex;
}

/********************section temoignage*******************************/
/***************************section footer**************************************/
.section-footer
{
    margin-top: 250px;
}
.titrefooter1
{
    font-family: 'Rubik Moonrocks', cursive;
    font-size: 50px;
    
}
/*************************PARTI INSCRIPTION***********************************/
.formulaire
{
    margin-left: 400px;

}
.connection
{
    margin-left: 400px;

}
.btn-success
{
    width: 50%;
    margin-left: 100px;
}
.section-footerConnexion
{
    margin-top: 50px;
    height: 100px;
}
.collist
{
    margin-left: 150px;
}
.boutonCon
{
    margin-left: 235px;
    position: relative;
    bottom:40px;
    
   
}
.boutonCon1
{
    margin-left: 1px;
    position: relative;
    left: -20px;
    
   
}
/********************Media Querie******************************/
@media (max-width: 393px)
{
   
}
@media (max-width: 575.98px)
 {
    .connection
{
    margin-left: 1px;

}
.formulaire
{
    margin-left: 10px;

}

  }
@media (max-width: 767.98px) { 
    .connection
{
    margin-left: 10px;

}
.formulaire
{
    margin-left: 1px;

}
 }
@media (max-width: 991.98px) {  }
@media (max-width: 1199.98px) {  }
@media (max-width: 1399.98px) {  }
